body {
    background-color: #E9DAC1;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* aligning containers */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

/* border styling for all cards */
.bordered {
    border: 3px solid black;
    box-shadow: 7px 7px grey;
}

/* styling for the choices */
.option-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.choice {
    padding: 10px;
}

.btn {
    background-color: white;
}

.btn:hover,
.night-btn:hover {
    background-color: #c7c7c7;
    border: 5px solid black;
    box-shadow: 14px 14px grey;
    transition: 0.1s;
}

/* styling for choice outcome */
.win {
    background-color: #00ff00 !important;
}

.lose {
    background-color: #de0d0d !important;
}

.tie {
    background-color: #6782c7 !important;
}

/* styling for the announcement */

.announcer {
    background-color: white;
    width: 30vw;
    padding: 10px 20px;
    font-family: "Courier";
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: white;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-card {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 25px;
}

.player-score,
.computer-score,
.tie-score {
    font-family: 'Courier New';
    font-size: 90px;
}

.scoring {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

/* night mode styling */
.body-night {
    background-color: black;
}

.btn-night {
    background-color: #88FFF7;
    border-color: #7C83FD;
    box-shadow: 7px 7px #A5E1AD;
}

.night:hover {
    border: 5px solid #7C83FD;
    background-color: #c1deae;
    box-shadow: 14px 14px #A5E1AD;
    transition: 0.1s;
}